#img{
    height: 44px;
    width: 91px;
}

.title-common{
    margin-left: 578px;
    margin-top: 155px;
    font-size: xx-large;
}
.menu{
   
    height: 50px;
}
.form{
    margin-left: 550px;
    margin-top: 100px;
}
.btn{
    font-weight: bold;
    margin-left: 50px;
    background-color: rgb(0, 128, 255);
    color: white;
    height: 25px;
    width: 60px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(0, 166, 255);
}

.title{
    width: 375px;
    height: 22px;
    border-radius: 3px;
}
.year{
    border-radius: 3px;
    width: 50px;
    height: 22px;
}
.summary{
    width: 450px;
    border-radius: 3px;
    height: 22px;
}
.form-enter{
       
    width: 930px;
    margin-left: -1px;
    padding-right: 109px;
    height: 300px;
    padding-top: 1px;
}